# Session 17

## Task 3

**How to read random rows from our data ?**

In [1]:
import pandas as pd

In [8]:
data = {'Product': ['ABC','DDD','XYZ','AAA','CCC','PPP','NNN','RRR'],
          'Price': [630,790,250,370,880,1250,550,700],
       'Discount': ['No','Yes','No','Yes','Yes','No','No','Yes']
        }

In [9]:
df = pd.DataFrame(data)

In [10]:
df

  Product  Price Discount
0     ABC    630       No
1     DDD    790      Yes
2     XYZ    250       No
3     AAA    370      Yes
4     CCC    880      Yes
5     PPP   1250       No
6     NNN    550       No
7     RRR    700      Yes

### (1) Randomly select a single row:

In [11]:
df.sample()

  Product  Price Discount
3     AAA    370      Yes

In [12]:
df

  Product  Price Discount
0     ABC    630       No
1     DDD    790      Yes
2     XYZ    250       No
3     AAA    370      Yes
4     CCC    880      Yes
5     PPP   1250       No
6     NNN    550       No
7     RRR    700      Yes

### (2) Randomly select a specified number of rows.

In [13]:
df.sample(n=2)

  Product  Price Discount
5     PPP   1250       No
7     RRR    700      Yes

### Allow a random selection of the same row more than once (by setting replace=True):

In [14]:
df.sample(n=3,replace=True)

  Product  Price Discount
1     DDD    790      Yes
0     ABC    630       No
5     PPP   1250       No

### (4) Randomly select a specified fraction of the total number of rows.
For example, if you have 8 rows, and you set frac=0.50, then youâ€™ll get a random selection of 50% of the total rows, meaning that 4 rows will be selected:

In [15]:
df.sample(frac=0.50)

  Product  Price Discount
2     XYZ    250       No
6     NNN    550       No
1     DDD    790      Yes
3     AAA    370      Yes