# Session 17

## Task 2

**How to add one row in an existing Pandas DataFrame?**

In [1]:
import pandas as pd

In [9]:
dict_ = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }

In [10]:
df = pd.DataFrame(dict_)

In [11]:
df

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

In [12]:
 df.loc[len(df.index)] = ['Amy', 89, 93]

In [13]:
df

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76
4      Amy     89       93