# Session 18

## Task 3


**How to combine more than dataframe at the same time ?**

In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'], #First DataFrame
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI']})

In [5]:
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'], #Second DataFrame
                    'Name': ['XYZ', 'TUV', 'MNO', 'JKL']})

In [6]:
 df3 = pd.DataFrame({'City': ['MUMBAI', 'PUNE', 'MUMBAI', 'DELHI'],  #Third DataFrame
                    'Age': ['12', '13', '14', '12']})

In [7]:
df1

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI

In [8]:
df2

    id Name
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL

In [9]:
df3

     City Age
0  MUMBAI  12
1    PUNE  13
2  MUMBAI  14
3   DELHI  12

In [10]:
result = df1.append([df2, df3])
display(result)

C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

   Age    City Name   id
0  NaN     NaN  ABC  A01
1  NaN     NaN  PQR  A02
2  NaN     NaN  DEF  A03
3  NaN     NaN  GHI  A04
0  NaN     NaN  XYZ  B05
1  NaN     NaN  TUV  B06
2  NaN     NaN  MNO  B07
3  NaN     NaN  JKL  B08
0   12  MUMBAI  NaN  NaN
1   13    PUNE  NaN  NaN
2   14  MUMBAI  NaN  NaN
3   12   DELHI  NaN  NaN